<h1>List of users</h1>

<table border="1">
  <tbody><tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>
    <% @list_of_users.each do |a_user|%>
    <tr>
      <td>
       <%= a_user.username%>
      </td>

      <td>
        <% if a_user.private %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

      <td>
        <% if @current_user != nil %>
          <% follow_request =  FollowRequest.find_by(sender_id: @current_user.id, recipient_id: a_user.id ) %>
          
          <% if follow_request == nil %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
              <button>
                Follow
              </button>
            </form>
          
           <% elsif follow_request.status == "pending" %>
              Request sent.
              <a href="/delete_follow_request/<%= %>">
                Cancel
              </a>
          <% else %>
            <a href="/delete_follow_request/<%= %>">
              Unfollow
            </a>
          <% end %>
        <% else %>
        <td>
        </td>
        <% end %>
      </td>

      <td>
        <% if @current_user == nil %>
          <a href="/user_sign_in">
            Show details
          </a>
          <% else %>
            <a href="/users/<%= a_user.username %>">
            Show details
          </a>
          <% end %>
      </td>
    </tr>
    <% end %>
</tbody></table>
