
<h1> <%= @the_user.username %></h1>
<dl>
  <dt>Private</dt>
  <dd> 
    <%= @the_user.private %>
  </dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.count %>
      <div>
          <% if @current_user %>
          <% follow_request =  FollowRequest.find_by(sender_id: @current_user.id, recipient_id: @the_user.id ) %>
          <% if follow_request.nil? %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
              <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
              <input type="hidden" name="query_status_id" value="pending">
              <button>
                Follow
              </button>
            </form>
          <% elsif @the_user.private %>
            <span>Request sent. <a href="/delete_follow_request/<%= follow_request.id %>">Cancel</a></span>
          <% else %>
            <a href="/delete_follow_request/<%= follow_request.id %>">Unfollow</a>
          <% end %>
        <% end %>
    </div>

  </dd>

  <dt>Following</dt>
  <dd><%= @the_user.following.count %></dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<div>
  <div>
    <h2>
      Own photos (<%= @the_user.own_photos.count%>)
    </h2>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>
          <th>
          Owner
        </th>
        <th>
          Caption
        </th>
        <th>
          Posted
        </th>
        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @the_user.own_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%= a_photo.image %>" />
        </td>
         <td>
          <% owner = User.find(a_photo.owner_id) %>
          <%= owner.username %>
        </td>
        <td>
          <%= a_photo.caption %>
        </td>
         <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= a_photo.likes_count %>
        </td>
       
        <td>
          <% if @current_user == nil %>
          <a href="/user_sign_in">
            Show details
          </a>
          <% else %>
            <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
